* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.Header {
    padding: 0 200px;
    background-color: #1F2937;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.nav {
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul 
{
    list-style: none;
}

a 
{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.navLinks ul
{
    display: flex;
    gap: 18px;
}

.logo
{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}


.heroContainer
{
    display: flex;
    align-items: center;
    gap: 40px;
    min-height: 440px;
}


.heroTitle
{
    font-size: 48px;
    font-weight: 900;
    color:#F9FAF8;

}

.heroSubtext
{
    font-size: 18px;
    color: #E5E7EB;
}

img
{
    width: 500px;
    height: 250px;
}

.callToActionButton button
{
    padding: 8px 28px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 8px;
    color: white;
    background-color: #3882F6;
}

.callToActionButton
{
    margin-top: 12px;
}

.infoContainer
{
    width: 100%;
    height: 65vh;
}

.infoTitle
{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
    padding: 32px 0;
}

.cardContainer
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
}


.card {
    width: 150px;
    font-size: 18px;
    color: #646669;
    text-align: center;
}

.imgContainer
{
    width: 150px;
    height: 150px;
    border: 4px solid #3882F6;
    border-radius: 12px;
}


.quoteSection
{
    width: 100%;
    height: 65vh;
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.quoteContainer
{
    max-width: 750px;
}

.quoteText
{
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
}

.quoteOwner
{
    color: #1F2937;
    font-size: 24px;
    text-align: end;
    font-weight: 900;
}


.ctaSection
{
    width: 100%;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 
}

.ctaContainer
{
    width: 1000px;
    display: flex;
    justify-content: center;
    gap: 120px;
    padding: 48px 0;
    background-color: #3882F6;
    color: #E5E7EB;
    border-radius: 12px;
}

.ctaMain
{
    font-size: 24px;
    font-weight: 700;
}


.ctaButton 
{
    display: flex;
    align-items: center;
}

.ctaButton button
{
    border: 2px solid white;
    border-radius: 8px;
    background-color: #3882F6;
    color: white;
    padding: 4px 28px;
    font-size: 20px;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.footer{
    background-color: #1F2937;
    width: 100%;
    height: 92px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyrightText {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}